@CHARSET "UTF-8";

/*テーブル関係
 *入力時に欄がオレンジになる*/
table{
	width: 100%;
}
table tr td{
	padding: 10px;
}
table tr td:first-child{
	background-color: #c38b8b;
	color: #fff;
	font-size: 20px;
	width: 32%;
}
.table{
	margin-bottom: 30px;
}
.textarea{
	font-size: 20px;
	width: 100%;
}

/*パスワード再設定ボタンの調整*/
.submit_btn_box .submit_btn{
	font-size: 11.5px;
}
